html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: black;
}

html {
    font-family: sans-serif;
    font-size: 14pt;
}


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main p::selection {
    background: aqua; /* WebKit/Blink Browsers */
}
.main p::-moz-selection {
    background: aqua; /* Gecko Browsers */
}

div.main a {
    color: teal;
    text-decoration-line: none;
    border-bottom: 2px dotted teal;
}

div.main a:hover {
    background-color: aqua;
}

.mobileActions {
    display: none;
}

/*@media (min-width: 750px) {*/
    .mobileActions {
        display: flex;
        margin-left: auto;
        flex-wrap: wrap;
    }

    .mobileActions a {
        font-size: 18pt;
        color: white;
        padding-left: 25px;
        padding-top: 3%;
    }
/*}*/

header {
    padding: 1% 6%;
    background: black;
    color: #f1f1f1;
    display: flex;
}

/*footer {*/
/*    position:fixed;*/
/*    left:0px;*/
/*    bottom:0px;*/
/*    height:30px;*/
/*    width:100%;*/
/*    background:#999;*/
/* }*/

#logo {
    height: 60px;
}

div.main {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    width: 90%;
    min-height: 100%;
    padding: 10px;
    align-self: center;
    background-color: white;
}

.main article {
    /*flex: 1;*/
    padding-left: 20px;
    padding-right: 20px;
    min-width: 200px;
    /*flex-direction: column;*/
    width: 90%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*padding-top: 2%;*/
    line-height: 1.3em;
    flex-grow: 1;
  }


.main article.announcements {
    width: 30%;
    max-width: 350px;
    flex-grow: 3;
    overflow: hidden;
  }

  article p.pinned {
      padding: 15px;
      background-color: bisque;
      line-height: 1.5em;
  }

.main article.manifesto {
    width: 60%;
    min-width: 300px;
}

div.pre-footer {
    margin-top: 5%;
    font-size: 10pt;
    text-align: center;
    line-height: 15pt;
    letter-spacing: 1pt;
}

div.sponsors {
    /*font-weight: bold;*/
    margin-top: 30px;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
}

div.sponsors > img {
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    margin-right: 10px;
    margin-left: 10px;
    /*margin: auto 50px;*/
    width: 20%;
}

div.footer {
    height: 100px;
    padding-top: 30px;
    text-align: center;
    color: white;
}