div.footer {
  height: 100px;
  padding-top: 30px;
  text-align: center;
  color: white;
  line-height: 2em;
}

div.footer > .quote {
  display: none;
}

@media (min-width: 650px) {
  div.footer > .quote {
    display: block;
    line-height: 3em;
  }
}
